 
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Growth Marketing Mentorship</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antic Didone:wght@400&display=swap" />

<link rel="stylesheet" href="/growth-marketing/assets/css/home.css">
</head>
<body>
    <header class="header"> 
        <button class="menu-button"> </button>
   
		<img  class="logo"  alt="" src="public/logo.svg" > 
  
    </header>

    <main class="main">
   
            <!-- Hero Section -->
            <section class="hero">
                <h1>Шукаю початківців для менторства у сфері
           Growth Marketing Associate!</h1>
                <p class = "under-title">Привіт! Я хочу допомогти тим, хто тільки починає свій шлях у сфері росту та маркетингу. Якщо ти:</p>
            </section>

            <!-- Features Grid -->
            <section class="features"> 
			<div class = "feature-container"> 
                <div class="feature"> <p> цікавишся рерайтингом контенту за допомогою AI</p>  </div>

                <div class="feature"> <p> бажаєш навчитися створювати креативи в Canva</p>  </div>
			</div>

            <div class = "feature-container"> 
                <div class="feature"> <p> готовий(-а) публікувати матеріали на WordPress</p>  </div>

                <div class="feature"> <p> хочеш освоїти налаштування реклами в Google Ads</p>  </div>
			</div>
			
			 <div class = "feature-container"> 
                <div class="feature"> <p> маєш бажання створювати відео (не обов'язково, але буде плюсом)</p>  </div>

                <div class="feature"> <p> готовий(-а) вчитися й докладати зусиль </p> </div>
			</div>
				
                <div class="feature"> <p>  впевнено володієш формулами в Google Sheets/Excel та Google Slides </p> </div>
				<div class="feature"> <p> прагнеш навчитися створювати презентації, оформлювати email-розсилки, лід-магніти та інше</p> </div>
				<div class="feature"> <p> маєш початкове розуміння або бажання вивчити основні KPI росту: CPM, CTR, CPC, CVR, CAC, ROAS </p> </div>
				<div class="feature"> <p> отримуєш бонусні бали за досвід у тестуванні та звітності стратегій, креативів і цільових сторінок </p> </div>

			<p class="disc-program"> Я розроблю для тебе програму навчання, яка допоможе оволодіти навичками
            Growth Marketing Associate та зробити перші кроки в цій сфері. </p>

		    </section>

            <!-- What You'll Get Section -->
            <section class="offer-card">
                <h2>Що я пропоную?</h2>
                <ul class="requirements-list">
						<li> <p>Персоналізовану навчальну програму, адаптовану під твій рівень.</p> </li>
						<li> <p>Регулярні менторські сесії для розбору складних тем і підтримки.</p> </li>
						<li> <p>Практичні завдання, які підготують до реальної роботи.</p> </li>
						<li> <p>Допомогу в створенні портфоліо та розвитку професійних навичок.</p> </li>
						<li> <p>Сприяння в працевлаштуванні на прямі контракти в закордонні компанії з місячною зарплатою від $4,000 до $6,500.</p> </li>

                </ul>
            </section>	

            <!-- Requirements Section -->
            <section class="requirements card light">
                <h2>Умови:</h2>
               <ul class="requirements-list">
						<li> <p> Рівень англійської мови від B2.</p> </li>
						<li> <p> Це абсолютно безкоштовно, але я можу взяти максимум двох людей, щоб забезпечити якісний менторинг.</p> </li>
					 

                </ul>
            </section>

            <!-- CTA Section -->
            <section class="cta">
                <h2>Як подати заявку?</h2>
                <p>Напиши мені в <a href="#" class="link">особисті повідомлення</a>, розкажи коротко про себе та свій досвід (навіть якщо його немає).</p>
            </section>
    
    </main>
</body>
</html>
 